html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.container{
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-color: #e8ebf1;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__logo a{
    font-size: 50px;
    color: #2aacc8;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.header__logo a span{
    color: #000;
    font-weight: 700;
}